<!DOCTYPE html>
<html>

<head>

	<title>Its-A-Date Frontend</title>

	<link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="CSS/style.css">

	<!-- javascripts -->



	<!-- end scripts -->
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
				<a class="navbar-brand" href="#">Its-A-Date</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="./">Home</a></li>
					<li><a href="https://github.com/bendorshai/its-a-date">Its-A-Date on Github</a></li>
					<li><a href="https://github.com/skatz1990/its-a-date-frontend">Its-A-Date Frontend on Github</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="wrapper page-header">
			<h1>It's-A-Date</h1>
			<p class="lead">The following method allows you to test its-a-date online</p>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Type your date string below</h3>
			</div>
			<div class="panel-body">
				<input type="text" placeholder="Date string" class="form-control">

				<form class="form-signin">
					<div class="checkbox">
						<label>
                            <input type="checkbox"> Day before month
                        </label>
					</div>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>

</body>

<footer class="footer">
	Contributions are always welcome via pull requests and issues.
</footer>

</html>